RewriteEngine On
RewriteRule ^([a-z0-9]{6})$ /index.php?a=topic&id=$1 [L,QSA]
RewriteRule ^post$ /index.php?a=new [L,QSA]
RewriteRule ^list\.json$ /index.php?a=list-json [L,QSA]
RewriteRule ^([a-z0-9]{6})\.json$ /index.php?a=topic-json&id=$1 [L,QSA]
