#narwhal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	margin: auto;	
	opacity: 0.3;
}

#narwhal:hover {
	opacity: 1;
}

body {
	background: #383d39;

	color: #666;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, Georgia, serif;
}

a, p, .post_info {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, .post_header {
	color: #888;
}

.topic {
	width: 450px;
	border-radius: 10px;
	color: #333;
	padding: 0;
	border: 2px solid #333;
	background: #efefef;
}

.topic_body {
	padding: 5px;
	padding-left: 0;
}

.topic_header {
	padding: 10px;
}

.topic_header h2 {
	margin: 0;
}

.post_header {
	font-size: 12px;	
	color: #333;
	padding: 5px;

	background: #ddd;
background-image: linear-gradient(bottom, rgb(245,245,245) 12%, rgb(204,204,204) 100%);
background-image: -o-linear-gradient(bottom, rgb(245,245,245) 12%, rgb(204,204,204) 100%);
background-image: -moz-linear-gradient(bottom, rgb(245,245,245) 12%, rgb(204,204,204) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(245,245,245) 12%, rgb(204,204,204) 100%);
background-image: -ms-linear-gradient(bottom, rgb(245,245,245) 12%, rgb(204,204,204) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.12, rgb(245,245,245)),
	color-stop(1, rgb(204,204,204))
);
	border-top: 1px solid #bbb;
}

.post_header .title {
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

.post_info {
	font-size: 10px;
}

.post_when {
	float: right;
}

.post .content {
	background: #fff;
	padding: 5px;
	padding-bottom: 15px;
	font-size: 14px;
}

.post_subcount {
	float: right;
}

a, .post_info {
	text-decoration: none;
	color: #666;
}

#reply_form h2 {
	color: white;
}

#reply_form {
	padding: 10px;
	color: #FFF;
	background: #d4414b;
	margin-bottom: 10px;

background-image: linear-gradient(bottom, rgb(166,45,55) 0%, rgb(212,65,75) 100%);
background-image: -o-linear-gradient(bottom, rgb(166,45,55) 0%, rgb(212,65,75) 100%);
background-image: -moz-linear-gradient(bottom, rgb(166,45,55) 0%, rgb(212,65,75) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(166,45,55) 0%, rgb(212,65,75) 100%);
background-image: -ms-linear-gradient(bottom, rgb(166,45,55) 0%, rgb(212,65,75) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(166,45,55)),
	color-stop(1, rgb(212,65,75))
);


}